{
    "OPERATION": {
        "OnOffState": (
            name: "On/off state",
            bits: Bit(7),
            values: Sentinels({
                "Off": (0, "output off"),
                "On": (1, "output on"),
            }),
        ),
        "TurnOffBehavior": (
            name: "Power down behavior",
            bits: Bit(6),
            values: Sentinels({
                "Set": (1, "powers down based on TOFF_DELAY"),
                "Clear": (0, "powers down immediately"),
            }),
        ),
        "VoltageCommandSource": (
            name: "Source of output voltage",
            bits: Bitrange(High(5), Low(4)),
            values: Sentinels({
                "VOUT_COMMAND": (0b00, "set by VOUT_COMMAND"),
                "VOUT_MARGIN_LOW": (0b01, "set by VOUT_MARGIN_LOW"),
                "VOUT_MARGIN_HIGH": (0b10, "set by VOUT_MARGIN_HIGH"),
                "AVS_VOUT_COMMAND": (0b11, "set by AVSBus")
            }),
        ),
        "MarginFaultResponse": (
            name: "Margin fault response",
            bits: Bitrange(High(3), Low(2)),
            values: Sentinels({
                "Ignore": (0b01, "ignore margin faults" ),
                "ActUpon": (0b10, "act upon margin faults"),
            }),
        ),
        "TransitionControl": (
            name: "Transition control",
            bits: Bit(1),
            values: Sentinels({
                "Clear": (0, "not set"),
                "Set": (1, "set"),
            }),
        ),
    },

    "ON_OFF_CONFIG": {
        "PowerControl": (
            name: "Power control source",
            bits: Bit(4),
            values: Sentinels({
                "Regardless": (0b0, "regardless of OPERATION/CONTROL"),
                "Controlled": (0b1, "OPERATION/CONTROL"),
            }),
        ),
        "CommandControl": (
            name: "OPERATION disposition",
            bits: Bit(3),
            values: Sentinels({
                "Ignore": (0b0, "ignores OPERATION on/off"),
                "Abides": (0b1, "abides by OPERATION on/off"),
            }),
        ),
        "ControlControl": (
            name: "CONTROL pin disposition",
            bits: Bit(2),
            values: Sentinels({
                "Ignore": (0b0, "ignores CONTROL pin"),
                "Abides": (0b1, "abides by CONTROL pin"),
            }),
        ),
        "ControlPolarity": (
            name: "Polarity of CONTROL pin",
            bits: Bit(1),
            values: Sentinels({
                "ActiveLow": (0b0, "active low"),
                "ActiveHigh": (0b1, "active high"),
            }),
        ),
        "ControlOff": (
            name: "CONTROL pin action",
            bits: Bit(0),
            values: Sentinels({
                "Programmed": (0b0, "use programmed delay"),
                "Immediate": (0b1, "turn off output immediately"),
            }),
        ),
    },

    "CAPABILITY": {
        "PacketErrorChecking": (
            name: "Packet error checking",
            bits: Bit(7),
            values: Sentinels({
                "NotSupported": (0b0, "not supported"),
                "Supported": (0b1, "supported"),
            }),
        ),
        "MaximumBusSpeed": (
            name: "Maximum supported bus speed",
            bits: Bitrange(High(6), Low(5)),
            values: Sentinels({
                "Speed100KHz": (0b00, "100 kHz"),
                "Speed400kHz": (0b01, "400 kHz"),
                "Speed1MHz": (0b10, "1 MHz"),
            }),
        ),
        "SMBusAlert": (
            name: "SMBus Alert Response support",
            bits: Bit(4),
            values: Sentinels({
                "NotSupported": (0b0, "not supported"),
                "Supported": (0b1, "supported"),
            }),
        ),
        "NumericFormat": (
            name: "Numeric data format",
            bits: Bit(3),
            values: Sentinels({
                "NotIEEEHalf": (0b0, "not IEEE Half Precision"),
                "IEEEHalf": (0b1, "IEEE Half Precision"),
            }),
        ),
        "AVSBusSupport": (
            name: "Adapative Voltage Bus support",
            bits: Bit(2),
            values: Sentinels({
                "NotSupported": (0b0, "not supported"),
                "Supported": (0b1, "supported"),
            }),
        ),
    },

    "VOUT_MODE": {
        "AbsoluteOrRelative": (
            name: "Sense",
            bits: Bit(7),
            values: Sentinels({
                "Absolute": (0b0, "absolute setting"),
                "Relative": (0b1, "relative adjustment"),
            }),
        ),
        "Mode": (
            name: "VOUT mode",
            bits: Bitrange(High(6), Low(5)),
            values: Sentinels({
                "ULINEAR16": (0b00, "parameter is ULINEAR16 exponent"),
                "VID": (0b01, "parameter is VID code"),
                "Direct": (0b10, "DIRECT format"),
                "IEEEHalf": (0b11, "IEEE Half Precision format"),
            }),
        ),
        "Parameter": (
            name: "Parameter",
            bits: Bitrange(High(4), Low(0)),
            values: Scalar,
        ),
    },

    "STATUS_WORD": {
        "OutputVoltageFault": (
            name: "Output voltage fault",
            bits: Bit(15),
            values: Sentinels({
                "NoFault": (0b0, "no fault"),
                "Fault": (0b1, "fault"),
            }),
        ),
        "OutputCurrentFault": (
            name: "Output current/power fault",
            bits: Bit(14),
            values: Sentinels({
                "NoFault": (0b0, "no fault"),
                "Fault": (0b1, "fault"),
            }),
        ),
        "InputFault": (
            name: "Input voltage/current/power fault",
            bits: Bit(13),
            values: Sentinels({
                "NoFault": (0b0, "no fault"),
                "Fault": (0b1, "fault"),
            }),
        ),
        "ManufacturerFault": (
            name: "Manufacturer-specific fault",
            bits: Bit(12),
            values: Sentinels({
                "NoFault": (0b0, "no fault"),
                "Fault": (0b1, "fault"),
            }),
        ),
        "PowerGoodStatus": (
            name: "POWER_GOOD signal status",
            bits: Bit(11),
            values: Sentinels({
                "PowerGood": (0b0, "POWER_GOOD is set"),
                "NoPowerGood": (0b1, "POWER_GOOD is not set"),
            }),
        ),
        "FanFault": (
            name: "Fan fault",
            bits: Bitrange(High(10), Low(10)),
            values: Sentinels({
                "NoFault": (0b0, "no fault"),
                "Fault": (0b1, "fault"),
            }),
        ),
        "OtherFault": (
            name: "STATUS_OTHER fault",
            bits: Bit(9),
            values: Sentinels({
                "NoFault": (0b0, "no fault"),
                "Fault": (0b1, "fault"),
            }),
        ),
        "UnknownFault": (
            name: "Unknown fault",
            bits: Bitrange(High(8), Low(8)),
            values: Sentinels({
                "NoFault": (0b0, "no fault"),
                "Fault": (0b1, "fault"),
            }),
        ),
        "Busy": (
            name: "Busy device fault",
            bits: Bit(7),
            values: Sentinels({
                "NoFault": (0b0, "no fault"),
                "Fault": (0b1, "fault"),
            }),
        ),
        "Off": (
            name: "Device not providing power",
            bits: Bitrange(High(6), Low(6)),
            values: Sentinels({
                "PowerNotOff": (0b0, "power is not off"),
                "PowerOff": (0b1, "power is off"),
            }),
        ),
        "OutputOvervoltageFault": (
            name: "Output overvoltage fault",
            bits: Bit(5),
            values: Sentinels({
                "NoFault": (0b0, "no fault"),
                "Fault": (0b1, "fault"),
            }),
        ),
        "OutputOvercurrentFault": (
            name: "Output overcurrent fault",
            bits: Bit(4),
            values: Sentinels({
                "NoFault": (0b0, "no fault"),
                "Fault": (0b1, "fault"),
            }),
        ),
        "InputUndervoltageFault": (
            name: "Input undervoltage fault",
            bits: Bit(3),
            values: Sentinels({
                "NoFault": (0b0, "no fault"),
                "Fault": (0b1, "fault"),
            }),
        ),
        "TemperatureFault": (
            name: "Temperature fault",
            bits: Bit(2),
            values: Sentinels({
                "NoFault": (0b0, "no fault"),
                "Fault": (0b1, "fault"),
            }),
        ),
        "CMLFault": (
            name: "Communications/memory/logic fault",
            bits: Bit(1),
            values: Sentinels({
                "NoFault": (0b0, "no fault"),
                "Fault": (0b1, "fault"),
            }),
        ),
        "NoneOfTheAbove": (
            name: "Unknown fault",
            bits: Bit(0),
            values: Sentinels({
                "NoFault": (0b0, "no fault"),
                "Fault": (0b1, "fault"),
            }),
        )
    },

}
