[
    ("adm1272", "Analog Devices Positive Hot Swap Controller", None),
    ("tps546b24a", "Texas Instruments 2.95V-18V 20A Stackable Buck Converter", None),
    ("bmr480", "Flex DC-DC Converter", None),
    ("bmr491", "Flex DC-DC Converter", None),
    (
        "isl68224",
        "Renesas Digital Triple Output, 6-Phase PWM Controller",
        // Coefficients for VOUT_MODE Direct
        Some(( m: 1, R: 3, b: 0 ))
    ),
]
