([
    (0xc5, "DMAFIX", WriteWord32, ReadWord32),
    (0xc6, "DMASEQ", WriteWord32, ReadWord32),
    (0xc7, "DMAADDR", WriteWord, ReadWord),
    (0xcd, "PEAK_OC_LIMIT", WriteWord, ReadWord),
    (0xce, "PEAK_UC_LIMIT", WriteWord, ReadWord),
    (0xd0, "VMON_ON", WriteWord, ReadWord),
    (0xd1, "VMON_OFF", WriteWord, ReadWord),
], [
    ("VOUT_TRANSITION_RATE", Direct(( m: 1, R: 5, b: 0 )), VoltsPerMicrosecond),
    ("VOUT_SCALE_LOOP", Linear11, Unitless),
    ("FREQUENCY_SWITCH", Linear11, Kilohertz),
    ("VIN_ON", Direct(( m: 1, R: 2, b: 0 )), Volts),
    ("VIN_OFF", Direct(( m: 1, R: 2, b: 0 )), Volts),
    ("VOUT_OV_FAULT_LIMIT", VOutMode(Unsigned), Volts),
    ("VOUT_OV_WARN_LIMIT", VOutMode(Unsigned), Volts),
    ("VOUT_UV_WARN_LIMIT", VOutMode(Unsigned), Volts),
    ("VOUT_UV_FAULT_LIMIT", VOutMode(Unsigned), Volts),
    ("IOUT_OC_FAULT_LIMIT", Direct(( m: 1, R: 2, b: 0 )), Amperes),
    ("OT_FAULT_LIMIT", Direct(( m: 1, R: 0, b: 0 )), Celsius),
    ("OT_WARN_LIMIT", Direct(( m: 1, R: 0, b: 0 )), Celsius),
    ("VIN_OV_FAULT_LIMIT", Direct(( m: 1, R: 2, b: 0 )), Volts),
    ("VIN_OV_WARN_LIMIT", Direct(( m: 1, R: 2, b: 0 )), Volts),
    ("VIN_UV_WARN_LIMIT", Direct(( m: 1, R: 2, b: 0 )), Volts),
    ("VIN_UV_FAULT_LIMIT", Direct(( m: 1, R: 2, b: 0 )), Volts),
    ("IIN_OC_FAULT_LIMIT", Direct(( m: 1, R: 2, b: 0 )), Amperes),
    ("IIN_OC_WARN_LIMIT", Direct(( m: 1, R: 2, b: 0 )), Amperes),
    ("TON_DELAY", Direct(( m: 1, R: 2, b: 0 )), Milliseconds),
    ("TON_RISE", Direct (( m: 1, R: 3, b: 0 )), Milliseconds),
    ("TOFF_DELAY", Direct(( m: 1, R: 2, b: 0 )), Milliseconds),
    ("TOFF_FALL", Direct (( m: 1, R: 3, b: 0 )), Milliseconds),
    ("READ_VIN", Direct(( m: 1, R: 2, b: 0 )), Volts),
    ("READ_IIN", Direct(( m: 1, R: 2, b: 0 )), Amperes),
    ("READ_IOUT", Direct(( m: 1, R: 1, b: 0 )), Amperes),
    ("READ_TEMPERATURE_1", Direct(( m: 1, R: 0, b: 0 )), Celsius),
    ("READ_TEMPERATURE_2", Direct(( m: 1, R: 0, b: 0 )), Celsius),
    ("READ_TEMPERATURE_3", Direct(( m: 1, R: 0, b: 0 )), Celsius),
    ("READ_POUT", Direct(( m: 1, R: 0, b: 0 )), Watts),
    ("READ_PIN", Direct(( m: 1, R: 0, b: 0 )), Watts),
    ("DMAFIX", Raw, Unitless),
    ("DMASEQ", Raw, Unitless),
    ("DMAADDR", Raw, Unitless),
    ("PEAK_OC_LIMIT", Direct(( m: 1, R: 1, b: 0 )), Amperes),
    ("PEAK_UC_LIMIT", Direct(( m: 1, R: 1, b: 0 )), Amperes),
    ("VMON_ON", Direct(( m: 1, R: 2, b: 0 )), Volts),
    ("VMON_OFF", Direct(( m: 1, R: 2, b: 0 )), Volts),
], {})
