(
    all: [
        (0xc3, "READ_TEMP_CLIP_P", Illegal, ReadWord),
        (0xc4, "READ_TEMP_CLIP_N", Illegal, ReadWord),

        // These registers are read/write by default, but ACAN-157 specifies
        // that they are read-only.
        (0x78, "STATUS_BYTE", Illegal, ReadByte),
        (0x79, "STATUS_WORD", Illegal, ReadWord),
        (0x7f, "STATUS_OTHER", Illegal, ReadByte),

        // This address would have been USER_DATA_01 by default
        (0xb1, "MB_PSU_SETTING", WriteWord, ReadWord),

        (0xd6, "MFR_FWUPLOAD_MODE", WriteByte, ReadByte),
        (0xd7, "MFR_FWUPLOAD", WriteBlock, Illegal),
        (0xd8, "MFR_FWUPLOAD_STATUS", Illegal, ReadWord),

        // These are unsupported, and marked to prevent from automatic queries
        (0x82, "STATUS_FANS_3_4", Illegal, Illegal),
    ],

    numerics: [
        ("FAN_COMMAND_1", Linear11, Percent),
        ("IOUT_OC_FAULT_LIMIT", Linear11, Amperes),
        ("IOUT_OC_WARN_LIMIT", Linear11, Amperes),
         // The mwocp67 pmbus doc says IIN_OC_WARN_LIMIT's data format is
         // "non-numeric" but "input current in amperes" sure sounds numeric to me,
         // and the value looks reasonable when interpreted as Linear11.
        ("IIN_OC_WARN_LIMIT", Linear11, Amperes),
        ("POUT_OP_WARN_LIMIT", Linear11, Watts),
        ("PIN_OP_WARN_LIMIT", Linear11, Watts),
        ("READ_VIN", Linear11, Volts),
        ("READ_IIN", Linear11, Amperes),
        // The datasheet spells this as READ_CAP in some places
        ("READ_VCAP", Linear11, Volts),
        ("READ_VOUT", VOutMode(Unsigned), Volts),
        ("READ_IOUT", Linear11, Amperes),
        ("READ_TEMPERATURE_1", Linear11, Celsius),
        ("READ_TEMPERATURE_2", Linear11, Celsius),
        ("READ_TEMPERATURE_3", Linear11, Celsius),
        ("READ_TEMP_CLIP_P", Linear11, Celsius),
        ("READ_TEMP_CLIP_N", Linear11, Celsius),
        ("READ_FAN_SPEED_1", Linear11, Rpm),
        ("READ_POUT", Linear11, Watts),
        ("READ_PIN", Linear11, Watts),
        ("MFR_VIN_MIN", Linear11, Volts),
        ("MFR_VIN_MAX", Linear11, Volts),
        ("MFR_IIN_MAX", Linear11, Amperes),
        ("MFR_PIN_MAX", Linear11, Watts),
        ("MFR_VOUT_MIN", VOutMode(Unsigned), Volts),
        ("MFR_VOUT_MAX", VOutMode(Unsigned), Volts),
        ("MFR_IOUT_MAX", Linear11, Amperes),
        ("MFR_POUT_MAX", Linear11, Watts),
        ("MFR_TAMBIENT_MAX", Linear11, Celsius),
        ("MFR_TAMBIENT_MIN", Linear11, Celsius),
        ("MFR_MAX_TEMP_1", Linear11, Celsius),
        ("MFR_MAX_TEMP_2", Linear11, Celsius),
        ("MFR_MAX_TEMP_3", Linear11, Celsius),
    ],

    structured: {
        "STATUS_MFR_SPECIFIC": {
            "PfcOvervoltageFault": (
                name: "PFC OV fault occurred",
                bits: Bit(7),
                values: Sentinels({
                    "NoFault": (0b0, "no fault"),
                    "Fault": (0b1, "fault"),
                }),
            ),
            // Bit 6: undocumented
            // Bit 5: undocumented
            "LineStatusChange": (
                name: "Power supply line status change ",
                bits: Bit(4),
                values: Sentinels({
                    "NoChange": (0b0, "no change"),
                    "Change": (0b1, "change"),
                }),
            ),
            "PfcUndervoltageFault": (
                name: "PFC UV fault occurred",
                bits: Bit(3),
                values: Sentinels({
                    "NoFault": (0b0, "no fault"),
                    "Fault": (0b1, "fault"),
                }),
            ),
            // Bit 2: undocumented
            // Bit 1: reserved
            // Bit 0: reserved
        },
        "MB_PSU_SETTING": {
            "PowerCycle": (
                name: "Turn off PSU output for certain time after delay",
                bits: Bit(15),
                values: Sentinels({
                    "Cancel": (0b0, "cancel"),
                    "PowerCycle": (0b1, "power cycle"),
                }),
            ),
            "ClearFaults": (
                name: "Clear faults and latch",
                bits: Bit(14),
                values: Sentinels({
                    "Default": (0b0, "default"),
                    "Clear": (0b1, "clear"),
                }),
            ),
            // Bit 13: undocumented
            // Bit 12: undocumented
            "ActiveCurrentSharing": (
                name: "Active current sharing",
                bits: Bit(11),
                values: Sentinels({
                    "Disable": (0b0, "disable"),
                    "Enable": (0b1, "enable"),
                }),
            ),
            // Bit 10: undocumented
           "OutputVoltageSetting": (
                name: "Output voltage setting",
                bits: Bit(9),
                values: Sentinels({
                    "V48": (0b0, "48V"),
                    "V50": (0b1, "50V"),
                }),
            ),
            // Bits 1-7: undocumented
            "EnableWriting": (
                name: "Enable writing on PSU",
                bits: Bit(0),
                values: Sentinels({
                    "Disabled": (0b0, "disabled"),
                    "Enabled": (0b1, "enabled"),
                }),
            ),
        },
        "MFR_FWUPLOAD_MODE": {
            // Bits 1-7: reserved
            "EnterOrExit": (
                name: "Enter or exit firmware upload mode",
                bits: Bit(0),
                values: Sentinels({
                    "Exit": (0b0, "exit"),
                    "Enter": (0b1, "enter"),
                }),
            ),
        },
        "MFR_FWUPLOAD_STATUS": {
            "CommandFormatMismatch": (
                name: "Command format does not match",
                bits: Bit(5),
                values: Sentinels({
                        "No": (0b0, "no"),
                        "Yes": (0b1, "yes"),
                    }),
            ),
            "ImageUnsupported": (
                name: "Image not supported by this PSU",
                bits: Bit(4),
                values: Sentinels({
                        "No": (0b0, "no"),
                        "Yes": (0b1, "yes"),
                    }),
            ),
            "ImageCorrupt": (
                name: "Full image received but is corrupt",
                bits: Bit(3),
                values: Sentinels({
                        "No": (0b0, "no"),
                        "Yes": (0b1, "yes"),
                    }),
            ),
            // Bit 2: reserved
            "FullImageNotReceivedYet": (
                // The PSU will keep this bit asserted until the full image is
                // received by the PSU
                name: "Full image not received yet",
                bits: Bit(1),
                values: Sentinels({
                        "No": (0b0, "no"),
                        "Yes": (0b1, "yes"),
                    }),
            ),
            "FullImageReceivedSuccessfully": (
                name: "Full image received successfully",
                bits: Bit(0),
                values: Sentinels({
                        "No": (0b0, "no"),
                        "Yes": (0b1, "yes"),
                    }),
            ),
        }

    }
)
